name: Tar my.sh.gz

on:
  workflow_dispatch:
    inputs:
      board:
        description: 'board'
        required: true
        default: "1"
jobs:
  tar_compress_and_commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        
      - name: Compress shell files
        id: remake-mydata-tgz
        run: |
          VERSION=v`cat functions.sh | grep rploaderver= | cut -d\" -f2`
          echo "Version: ${VERSION}"
          echo "::set-output name=VERSION::${VERSION}"

          vers=`cat functions.sh | grep rploaderver= | cut -d\" -f2`
          note=$(grep -m1 -A$((${{github.event.inputs.board}} - 1)) "${vers} " functions.sh | head -n ${{github.event.inputs.board}})
          #note=`cat functions.sh | grep "${vers} " | head -n 1`
          echo "    "+"${note}" > RELEASE_NOTES.md
          echo "note: ${note}"
          echo "::set-output name=note::${note}"

          tar -zcvf my.sh.gz lang.tgz i18n.h functions.sh monitor.sh menu.sh menu_m.sh ntp.sh sngen.sh macgen.sh edisk.sh tc_recover.sh models.json custom_config.json modules.alias.4.json extractor.gz ttyd lrz lsz
          
          mkdir -p ./mydata/home/tc/
          tar -zxvf mydata.tgz -C ./mydata/
          cp -vf my.sh.gz lang.tgz i18n.h functions.sh monitor.sh menu.sh menu_m.sh ntp.sh sngen.sh macgen.sh edisk.sh tc_recover.sh models.json custom_config.json modules.alias.4.json extractor.gz ttyd lrz lsz user_config.json ./mydata/home/tc/
          cp -vf ./tinycore_14.0/etc/motd ./mydata/etc/motd
          mkdir -p ./mydata/usr/bin
          rm -f ./mydata/usr/bin/menu.sh
          rm -f ./mydata/usr/bin/monitor.sh
          rm -f ./mydata/usr/bin/ntp.sh
          ln -sf /home/tc/menu.sh ./mydata/usr/bin/menu.sh
          ln -sf /home/tc/monitor.sh ./mydata/usr/bin/monitor.sh
          ln -sf /home/tc/ntp.sh ./mydata/usr/bin/ntp.sh                    
          if ! grep -q "ttyd" ./mydata/opt/bootlocal.sh; then
            echo "sudo /home/tc/ttyd login -f tc" >> ./mydata/opt/bootlocal.sh
            mkdir -p ./mydata/usr/sbin
            cp -f lsz ./mydata/usr/sbin/sz
            cp -f lrz ./mydata/usr/sbin/rz
          fi
          tar -zcvf mydata.tgz -C ./mydata/ .
          
          rm ./mydata/home/tc/custom-module
          cd ./mydata/home/tc
          tar -cf - ./ | pigz -p 2 > ${GITHUB_WORKSPACE}/xtcrp.tgz
          
      - name: Commit changes
        run: |
          git config --global user.name "PeterSuh-Q3"
          git config --global user.email dante9000@gmail.com
          git add my.sh.gz mydata.tgz xtcrp.tgz RELEASE_NOTES.md
          git commit -m "${{ steps.remake-mydata-tgz.outputs.note }}"
          git push  
